@use 'colors';
@use 'message';

.Chat {
  height: 100vh;
  width: 100%;
  max-width: 1000px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: 'Kumbh Sans';

  header {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Messages {
    margin-inline: -16px;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: auto;

    #top {
      flex: 1 1;
    }
  }

  .Form {
    width: 100%;
    display: flex;
    gap: 8px;

    input {
      padding: 10px 16px;
      flex: 1 1;
      background-color: colors.$bg3;
      color: colors.$text;
      border-radius: 10px;
      transition: background-color 0.2s, color 0.2s, opacity 0.5s;

      font: {
        size: 15px;
        family: 'Kumbh Sans';
      }

      &:focus {
        background-color: colors.$bg4;
        color: white;
      }

      &:disabled {
        opacity: 0.7;
      }
    }

    .Button {
      width: 36px;
      height: 36px;
      padding: 0;
      border-radius: 50%;

      &:disabled {
        color: colors.$text2;
      }
    }
  }
}
